<h2 class="title">{{ lecture.title }}</h2>
<div class="outer">
       <div class="test-form">
       <form>
       <h2 class="center">{{ 'CREATE_TEST' | translate }}</h2>

       <div *ngFor="let question of questions; let i = index" class="question-container" [ngClass]="{ 'active': currentQuestionIndex === i }">
              <div class="question">
              <label for="q{{ question }}">{{ 'QUESTION' | translate }} {{ question }}:</label>
              <input type="text" id="q{{ question }}" name="q{{ question }}" required [(ngModel)]="questionValues[i]">
       
              <label>{{ 'RIGHT_ANSWER' | translate }}</label>
              <input class="option" type="text" id="r{{ question }}1-{{ i }}" name="r{{ question }}1-{{ i }}" required 
                     [ngModel]="getOptionValue('Right answer', i)" (ngModelChange)="updateOptionValue($event, 'Right answer', i)">
              <label>{{ 'WRONG_ANSWER' | translate }} 1</label>
              <input class="option" type="text" id="r{{ question }}2-{{ i }}" name="r{{ question }}2-{{ i }}" required 
                     [ngModel]="getOptionValue('Wrong answer 1', i)" (ngModelChange)="updateOptionValue($event, 'Wrong answer 1', i)">
              <label>{{ 'WRONG_ANSWER' | translate }} 2</label>
              <input class="option" type="text" id="r{{ question }}3-{{ i }}" name="r{{ question }}3-{{ i }}" required 
                     [ngModel]="getOptionValue('Wrong answer 2', i)" (ngModelChange)="updateOptionValue($event, 'Wrong answer 2', i)">
              <label>{{ 'WRONG_ANSWER' | translate }} 3</label>
              <input class="option" type="text" id="r{{ question }}4-{{ i }}" name="r{{ question }}4-{{ i }}" required 
                     [ngModel]="getOptionValue('Wrong answer 3', i)" (ngModelChange)="updateOptionValue($event, 'Wrong answer 3', i)">

              </div>
       
              <div class="center">
                     <button *ngIf="currentQuestionIndex !== 0" (click)="moveToQuestion(currentQuestionIndex - 1)"><<</button>
                     <button *ngIf="currentQuestionIndex !== questions.length - 1" (click)="moveToQuestion(currentQuestionIndex + 1)">>></button>
              </div>
       </div>

       <div class="date-picking">
              <mat-form-field>
                     <label>{{ 'TEST_DATE' | translate }}</label>
                     <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" name="startDate">
                     <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="time-picker">
                     <label>{{ 'START_TIME' | translate }}</label>
                     <input [ngxTimepicker]="fullTime" [format]="24" [(ngModel)]="time" name="time" readonly>
                     <ngx-material-timepicker #fullTime></ngx-material-timepicker>
              </div>
       </div>

       <hr>
       <div class="center">
              <button type="button" (click)="createTest()">{{ 'CREATE_TEST' | translate }}</button>
       </div>
       </form>
       </div>
</div>