
label {
    font-weight: bold;
    display: block;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}
    
button:hover {
    background-color: #0056b3;
}
  
.test-container {
    display: flex;
}
  
.test-form {
    flex: 0 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 20px;
    width: 50%;
}

.center {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}
  
label, input[type="radio"] {
    display: block;
}
  
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
  
.question-container {
    display: none;
}
  
.question-container.active {
    display: block;
}

.invisible {
    display:none;
}

mat-form-field {
    width: 180px;
    height: 100px;
}

.time-input {
    padding: 8px;
    border-radius: 5px;
    font-size: 1em;
    max-width: 150px;
}

.date-picking {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
