.test-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 20px;
  min-width: 30%;
  justify-content: center;
  align-items: center;
}

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 20px;
}

.answers {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.answers label {
  margin-left: 5px;
}

.question-container {
  display: none;
}

.question-container.active {
  display: block;
}

label {
  font-weight: bold;
}
  
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}
