<div class="header">
  <h1 class="title">Distance learning</h1>
  <div class="header">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'COURSE_SEARCH' | translate }}</mat-label>
      <input type="text" matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<div *ngIf="authService.isLoggedIn">
  <div *ngIf="enrolledCoursesFiltered.length > 0">
    <hr>
    <div class="course-list">
      <h3>{{ 'MY_COURSES' | translate }}</h3>
      <div *ngFor="let course of enrolledCoursesFiltered" class="course">
        <img *ngIf="course.pictureURL" [src]="course.pictureURL" alt="{{ course.name }} Image" class="course-image">
        <div class="courseInfo">
          <h3 class="course-name">{{ course.name }}</h3>
          <p class="professor" *ngIf="course.fullOwnerName != null">{{ 'PROFESSOR' | translate }}: {{ course.fullOwnerName }}</p>
          <p *ngIf="course.description" class="description">{{ course.description }}</p>
          <button class="enroll-button" (click)='navigateToCourse(course)'>{{ 'OPEN_COURSE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notEnrolledCoursesFiltered.length > 0">
    <hr>
    <div class="course-list">
      <h3>{{ 'AVAILABLE_COURSES' | translate }}</h3>
      <div *ngFor="let course of notEnrolledCoursesFiltered" class="course">
        <img *ngIf="course.pictureURL" [src]="course.pictureURL" alt="{{ course.name }} Image" class="course-image">
        <div class="courseInfo">
          <h3 class="course-name">{{ course.name }}</h3>
          <p class="professor" *ngIf="course.fullOwnerName != null">{{ 'PROFESSOR' | translate }}: {{ course.fullOwnerName }}</p>
          <p *ngIf="course.description" class="description">{{ course.description }}</p>
          <button class="enroll-button" (click)="enrollCourse(course)">{{ 'ENROLL_COURSE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!authService.isLoggedIn && allCoursesFiltered.length > 0">
  <hr>
  <div class="course-list">
    <h3>{{ 'AVAILABLE_COURSES' | translate }}</h3>
    <div *ngFor="let course of allCoursesFiltered" class="course">
        <img *ngIf="course.pictureURL" [src]="course.pictureURL" alt="{{ course.name }} Image" class="course-image">
        <div class="courseInfo">
          <h3 class="course-name">{{ course.name }}</h3>
          <p class="professor" *ngIf="course.fullOwnerName != null">{{ 'PROFESSOR' | translate }}: {{ course.fullOwnerName }}</p>
          <p *ngIf="course.description" class="description">{{ course.description }}</p>
          <button class="enroll-button" (click)="navigateToLogin()">{{ 'LOG_IN_TO_ENTER_COURSES' | translate }}</button>
      </div>
    </div>
  </div>
</div>