<h2 class="title">{{ course.name }}</h2>
<p>{{ course.description }} </p>

<div *ngIf="lectures.length > 0">
    <div class="lectures">
        <div *ngFor="let lecture of lectures" class="lecture">
            <h3>{{ lecture.title }}</h3>
            <div class="video" *ngIf="lecture.videoURL">
                <iframe [src]="lecture.safeURL" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="text" *ngIf="lecture.data">
                <p>{{ lecture.data }}</p>
            </div>

            <div class="center-container" *ngIf="!lecture.testFinished && lecture.hasTest">
                <button *ngIf="testActive(lecture)" (click)="startTest(lecture.id)" class="start-button">{{ 'CLICK_TO_START_TEST' | translate}}</button>
            </div>

            <div class="center-container" *ngIf="!lecture.testFinished && lecture.hasTest">
                <p *ngIf="!testActive(lecture)">{{ 'TEST_ENDED' | translate }}</p>
            </div>
            
            <div class="center-container" *ngIf="lecture.testFinished && lecture.hasTest">
                <p>{{ 'COURSE_FINISHED' | translate }} {{ lecture.score }}/5</p>
            </div>
        </div>
    </div>
</div>