<div class="test-container">
    <div class="test-form">
        <form>
            <div class="submit">
                <h2>{{ 'TEST' | translate }}</h2>
            </div>
            <div *ngFor="let question of questions; let i = index" class="question-container" [ngClass]="{ 'active': currentQuestionIndex === i }">
                <div class="question">
                    <p>{{ i + 1 }}. {{ question.question }}</p>
            
                    <div *ngFor="let answer of question.answers; let j = index" class="answers">
                        <input type="radio" [name]="'question_' + i" [value]="answer" [id]="'answer_' + i + '_' + j" [(ngModel)]="question.selectedAnswer">
                        <label [for]="'answer_' + i + '_' + j">{{ answer }}</label>
                    </div>
                </div>
                <div class="submit">
                    <button class="testButton" *ngIf="currentQuestionIndex !== 0" (click)="moveToQuestion(currentQuestionIndex - 1)"><<</button>
                    <button class="testButton" *ngIf="currentQuestionIndex !== questions.length - 1" (click)="moveToQuestion(currentQuestionIndex + 1)">>></button>
                </div>
            </div>
            <hr>
            <div class="submit"> 
                <button type="button" (click)="submitTest()">{{ 'SUBMIT_TEST' | translate }}</button>
            </div>
        </form>
    </div>
</div>