<h2 class="title">{{ course.name }}</h2>

<div class="outer">
  <div class="create-lecture">
      <h3>{{ 'CREATE_LECTURE' | translate }}</h3>
      <form>
        <div class="form-group">
          <label for="title">{{ 'TITLE' | translate }}</label>
          <input type="text" id="title" name="title" [(ngModel)]="newLecture.title" required>
        </div>
        <div class="form-group">
          <label for="video_url">{{ 'VIDEO_URL' | translate }}</label>
          <input type="text" id="video_url" name="video_url" [(ngModel)]="newLecture.videoURL">
        </div>
        <div class="form-group">
          <label for="data">{{ 'LECTURE_DATA' | translate }}</label>
          <textarea id="data" name="data" [(ngModel)]="newLecture.data"></textarea>
        </div>
        <div class="center">
          <button type="submit" (click)="createLecture()">{{ 'CREATE_LECTURE' | translate }}</button>
        </div>
      </form>
  </div>
</div>

<div class="lectures">
    <div *ngFor="let lecture of lectures" class="lecture">
        <h3>{{ lecture.title }}</h3>
        <div class="video" *ngIf="lecture.videoURL">
            <iframe [src]="lecture.safeURL" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text" *ngIf="lecture.data">
            <p>{{ lecture.data }}</p>
        </div>
    </div>
</div>
